html{
	background-image: url(1372192866560.jpg);
	background-position: absolute;
	background-repeat: no-repeat;

}
body{		/*avsmalnad body låter en se bakgrunden*/
	padding-left: 15%;	
	padding-right: 15%;
	padding-top: 1%;
	padding-bottom: 3%;

}
footer{
	font-size: 40px;
	font-family: serif;
	border-color: #443556;
	background-color: green;
}
ul{
	font-size: 20px;
	font-family: verdana;
	background-color: red;
}
h1{
	font-size: 45px;
	background-color: slategray;
	font-family: "lucida grande", sans-serif;
	color: #cc5700;
	border-style: solid;
	border-radius: 10pxf;
	border-color: #999966;
	margin: 15px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px; 
}

.container{
	background-color: slategray;
	border-style: solid;
	border-color: #999966;
	border-radius: 10px;
	margin: 15px;
	font-style: italic;
	font-family: georgia;
	font-size: 20px;
	padding: 10px;
}

nav{
	height:25px;
	border-color: #999966;
	border-radius: 10px;
	border-style: solid;
	margin: 15px;
	background-color: slategray;

}
nav  .menuitem{		/*försökt få knapparna att åka isär mer*/
	margin:-3px 2px 0px -3px;
	float: left;
	position: relative;
	height: 25px;
	text-align: center; 
	width:100px;
	border-style: solid;
	border-radius: 10px;
	border-color: #999966;
	padding-right: 2px;
}
.current:hover{
	color: #cc5700;
}
.menuitem h3{
	margin: 0px 0px 0px 0px;
	padding-right:5px;
	padding-left:5px; 
	padding-top: 2px;
	font-family: "lucida grande", sans-serif; /*Linjärer känns bättre*/
	font-size: 20px;
}
.current{
	color: #ffd800;
	text-decoration: ;	/*osäker på vilken/vilka sorts decoration som finns*/
	
}
.menuitem:hover{
	color: #cc5700; /*tagit den orangea från bakgrunden och letat upp rgb*/
	border-style: solid;
	height: 25px;
	background-color: #999966;
}
.main{ /*Vill försöka att ge h1 en ribbon*/
}