html{
	background-image: url(warframe-minimalist.jpg); /*föredrar en riktig bakgrund istället*/
	background-position: relative;
	background-repeat: vertical;
	background-position: auto;
}
body{		/*avsmalnad body låter en se bakgrunden*/
	padding-left: 15%;	
	padding-right: 15%;
	padding-top: 1%;
	padding-bottom: 3%;
	width: 66%;
	margin: 0px;
}
ul{
	font-size: 20px;
	font-family: verdana;
	background-color: white;
	border-radius: 10px;
	border-style: solid;
	border-color: #848484;
	font-style: normal;
	font-family: "open Sans Condensed", sans-serif;
	color: #002D3A;
	width: 100px;
}
h1{
	font-size: 45px;
	margin:0px 0px 0px 0px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #433C3C;
}
.container{
	background-color: white;
	border-style: solid;
	border-color: #848484;
	border-radius: 10px;
	margin: 15px;
	font-style: italic;
	font-family: "open sans Condensed";
	font-size: 20px;
	padding: 10px;
}
.container h3{
	font-family: "open sans Condensed", sans-serif;
	font-size: 25px;
	color: #002D3A;
	font-style: normal;
	text-decoration: underline;
	border-radius: 10px;
	border-style: solid;
	border-color: #848484;
	background-color: white;
	margin: 0px 0px 0px 0px;
	padding: 6px;
	width: 100px;
	text-align: center;
}
h2{
	font-family: "open sans Condensed", sans-serif;
	font-size: 20px;
	color: #002D3A;
	font-style: bold;
	text-decoration: underline;
	border-radius: 10px;
	border-style: solid;
	border-color: #848484;
	background-color: white;
	margin: auto;
	padding: 6px;
	width: 600px;
	text-align: center;	
}
nav{
	height:25px;
	margin: 15px;
	background-color: ;

}
nav  .menuitem{		/*försökt få knapparna att åka isär mer*/
	margin: -3px 6px 0px -3px;
	float: left;
	position: relative;
	height: 25px;
	text-align: center; 
	width:100px;
	padding-right: 2px;
	color: #433C3C;
}
.menuitem:visited{
	background-color: #47515b;
}
.current:hover{
	color: white;
}
.menuitem h3{
	margin: 0px 0px 0px 0px;
	padding-right:5px;
	padding-left:5px; 
	padding-top: 2px;
	font-family: "lucida grande", sans-serif; /*Linjärer känns bättre*/
	font-size: 20px;
}
.current{
	color: #002D3A;
	text-decoration: underline;
}
.menuitem:hover{
	color: white; /*tagit den orangea färgen från bakgrunden och letat upp rgb*/
	background-color: lightgray;
	text-align: center;
	width: 110px;
}
.main{
	margin: 15px;
	text-align: center;
	border-bottom: solid #848484 2.5px;
}
.link1{ /*Ska göra om länkarna på något sätt*/
	border-radius: 10px;
	border-style: solid;
	border-color: #848484;
	background-color: #lightgray;
	font-family: "open sans Condensed", sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 6px;
	color: #002D3A;
	text-decoration: none;
	height: 15px;
	width: 30px;
}
.link1:hover{ /*förändring vid hover*/
	border-radius: 10px;
	border-style: solid;
	border-color: #002D3A;
	background-color: lightgray;
	font-family: "Open sans Condensed", sans-serif; 
	margin: 0px 0px 0px 0px;
	padding: 5px;
	color: black;
	height: 20px;
	width: 35px;
}
.image{
	position: relative;
	height: 550px;
	width: 550px;
	border-style: solid;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 10px;
}
video{	/*Wooh, rörliga bilder som låter.*/
	width:34%;
	min-width: 300px;
	height:200px;
	margin:0px 33% 0px 33%;
	position: relative;
}
#container-sale{
	height: 100%;
	width: 100%;
	padding-top:20%;
	text-align: center;
	display:none;
	position: fixed;
	margin: 250px -15% 0px -15%;
}
#container-sale p{
	font-style: italic;
	font-family: "open sans Condensed";
	font-size: 60px;	
	width: 400px;
	height: 90px;
	color: white;
	padding: 10px;

	background-color: rgba(0,0,0,0.5);
	margin: 0px auto;
}
.RowPointer{
	cursor: pointer;
}
table{
	background-color: white;
	width: 800px;
	margin: auto;
	margin-bottom: 5px;
}
table p{
	font-size: 35px;
	font-family: "open Sans Condensed"	
}
table:hover{
	background-color: #EBEBEB;
}
